<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content> -->

<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
 </ion-header>
 
 <ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
 
  <div padding>
    <button ion-button block (click)="signin()">Sign In</button>
  </div>
 </ion-content>