<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar>
        <ion-title>Details of event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngIf="event != null">
        <p>Name: {{event.eventName}}</p>
        <p>Desription: {{event.eventDesc}}</p>
        <p>Data: {{event.eventDate}}</p>
        <p>Time: {{event.eventTime}}</p>
        <p>Venue: {{event.eventVenue}}</p>
        <p>Ticket Price: RM{{event.eventPrice}}</p>
        <button ion-button round (click)="showPrompt(event.eventPrice, event.id)">Buy Tickets</button>
      </ion-item>
    </ion-list>
</ion-content>
