<ion-header>
  <ion-navbar>
    <ion-title>
      Purchase History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header><h2 style="text-align:center;">These are your e-tickets!</h2></ion-list-header>
    <ion-item *ngFor="let a of attendances">
      <p>Event Name: {{a.event.eventName}}</p>
      <p>Event Date: {{a.event.eventDate}}</p>
      <p>Event Time: {{a.event.eventTIme}}</p>
      <p>Ticket Quantity: {{a.ticketQuantity}}</p>
      <p>Ticket Price: RM{{a.totalPrice}}</p>
      <ngx-qrcode qrc-value="{{a.id}}"></ngx-qrcode>
      <!-- <ngx-qrcode qrc-value="{{a.eventID}}"></ngx-qrcode> -->
      <p>Purchase Time: {{a.created_at}}</p>
    </ion-item>
  </ion-list>
  
</ion-content>
