<ion-header>
  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>
 
<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let e of posts">
        <p>{{e.eventName}}</p>
        <p>{{e.eventDate}}</p>
        <p>RM{{e.eventPrice}}</p>
    </ion-item>
  </ion-list>
</ion-content> -->


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
              pullingText="Pull to refresh"
    pullingIcon="arrow-dropdown"
    refreshingSpinner="circles">
      </ion-refresher-content>
  </ion-refresher>
  
    <ion-list>
      <div text-wrap *ngFor="let e of posts">
        <ion-list-header>
            <h1>{{e.eventName}}</h1>
            <!-- <p>Event Description:</p> <p>{{e.eventDesc}}</p> -->
        </ion-list-header>
        <ion-item no-lines>
            <p>{{e.eventDesc}}</p>
        </ion-item>
        <ion-item >
            <button ion-button block round (click)="showDetails(e.id)">Show More</button>
        </ion-item>
      </div>
    </ion-list>
</ion-content>

