<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content> -->

<ion-header>
  <ion-navbar>
  <ion-title>signup</ion-title>
  </ion-navbar>
 </ion-header>
 
 <ion-content padding>
  <ion-list>
 
  <ion-item>
  <ion-label floating>Username</ion-label>
  <ion-input type="text" [(ngModel)]="info.username"></ion-input>
  </ion-item>
 
  <ion-item>
  <ion-label floating>Email</ion-label>
  <ion-input type="email" [(ngModel)]="info.email"></ion-input>
  </ion-item>
 
  <ion-item>
  <ion-label floating>Password</ion-label>
  <ion-input type="password" [(ngModel)]="info.password"></ion-input>
  </ion-item>
<!--  
  <ion-item>
    <ion-label floating>Re-Password</ion-label>
    <ion-input type="password" [(ngModel)]="info.repassword"></ion-input>
  </ion-item> -->
 
  </ion-list>
 
  <div padding>
    <button ion-button block (click)="signup()">Sign Up</button>
  </div>
 </ion-content>